@model TimeMate.Models.GoalSetting

@{
    ViewData["Title"] = "Create";
}
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Layouts/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("employee"))
    {
        Layout = "~/Views/Layouts/_EmployeeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Layouts/_ManagerLayout.cshtml";
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dueDate" class="control-label"></label>
                <input asp-for="dueDate" class="form-control" />
                <span asp-validation-for="dueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assignedTo" class="control-label"></label>
                <input asp-for="assignedTo" class="form-control" />
                <span asp-validation-for="assignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assignedBy" class="control-label"></label>
                <input asp-for="assignedBy" class="form-control" />
                <span asp-validation-for="assignedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isComplete" /> @Html.DisplayNameFor(model => model.isComplete)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success " />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
